body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
}

.navbar {
    margin-bottom: 20px;
}

.pricing-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.pricing-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

/* Footer */
footer {
    background-color: #E8E3D7;
    text-align: center;
    padding: 20px;
    font-size: 1rem;
    color: #333;
}
