* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f8f9fa;
}

main {
  flex: 1;
}

footer {
  background-color: #E8E3D7;
  text-align: center;
  padding: 10px;
  font-size: 1rem;
  color: #333;
  margin-top: auto;
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #E8E3D7;
  padding: 10px;
}

.navbar img {
  height: 40px;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar-links a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.navbar-links a:focus {
  outline: 3px solid #555;
  background-color: #ddd;
}

section {
  padding: 20px;
}

h1 {
  font-size: 2rem;
  text-align: center;
  margin: 20px;
}

p {
  text-align: center;
  margin: 20px;
}

#container, #container2 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.box, .box2 {
  flex: 1 1 calc(25% - 20px); /* Adjust width dynamically */
  margin: 10px;
  padding: 20px;
  background-color: #03543f;
  color: white;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.images {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.image-square {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #023020;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.image-square img {
  max-width: 100%;
  max-height: 100%;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }

  #container, #container2 {
    flex-direction: column;
  }

  .box, .box2 {
    width: 100%;
    margin: 10px 0;
  }
}

@media (max-width: 480px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  #container, #container2 {
    flex-direction: column;
    align-items: center;
  }
  .box, .box2 {
    width: 100%;
    margin: 10px 0;
  }
  footer {
    padding: 20px;
    font-size: 0.9rem;
  }
}
